#register {
    height: 100vh;
}

#login-form {
    padding: 25vh 0;
    height: 100vh;
    background-image: url(../../img/landing-background-01-01.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
}

#login-form .row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-container {
    margin: 0 auto;
    padding: 3rem;
    border-radius: 5px;
    background-color: #f7f7f7c7;
}

.form-container h3 {
    color: #6300a3;
}

.form-input,
.email {
    display: flex;
    flex-direction: column;
}

.form-input span {
    position: relative;
    bottom: -25px;
}

.form-input span a {
    font-size: 1.3rem;
}

.email input {
    border: none;
    background-color: #f5e6ff;
    padding: 2rem;
    border-radius: 5px;
    margin: 2rem 0;
}

.proceed {
    align-self: center;
    width: 100%;
    background-color: #f9a320;
    color: #6300a3;
    font-weight: 400;
    font-size: 1.4rem;
}

.backhome {
    position: absolute;
    left: 0;
    top: 0;
}

.back {
    border: none;
    border-radius: 10px;
    padding: 1.5rem;
}













@media screen and (max-width: 1440px) {
    .form-container {
        height: 45vh;
        width: 35%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 770px) {
    .form-container {
        width: auto;
        height: 45vh;
        padding: 3rem;
    }
}

@media screen and (max-width: 1024px) and (min-width: 992px) {
    .form-container {
        height: 45vh;
        width: 35%;
        padding: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .form-container {
        width: auto;
        padding: 3rem 2rem;
    }
}

/* @media screen and (max-width: 375px) {
    .hamburger {
        right: 0px;
    }

    .close-hamburger {
        right: 40px;
    }

    .landing-asset h1 {
        font-size: 3.9rem;
    }

} */