.hamburger-container {
    /* position: absolute; */
    display: none;
    margin: 0 4rem;
    z-index: 100;
}

.hamburger-container div {
    width: 20px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    margin: 0.3rem 0;
}

.close-hamburger {
    position: absolute;
    right: 40px;
    top: 35px;
}

.close-hamburger div {
    width: 20px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    margin: 0.3rem 0;
}

.close-hamburger .up {
    position: relative;
    transform: rotate(45deg);
    top: 3px;
}

.close-hamburger .down {
    position: relative;
    transform: rotate(-45deg);
    bottom: 3px;
}

@media screen and (max-width: 768px) {
    .hamburger-container {
        display: unset;
        position: absolute;
        right: 20px;
    }

    .close-hamburger {
        right: 60px;
        top: 38px;
    }
}