#header {
    height: 15vh;
    width: 100vw;
    position: fixed;
    z-index: 300;
    transition: ease-in 0.2s;
    background-color: white;
    box-shadow: 0px 38px 68px -68px rgb(0 0 0 / 30%);
}

nav {
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.navigation .navItems {
    width: 700px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navigation .navItems li {
    font-family: 'Alata', sans-serif;
    font-size: 1.5rem;
    height: 72px;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .navItems li a {
    color: #6300a3;
}

.admincontainer {
    display: flex;
    flex-wrap: nowrap;
}

.hamburger-navigation {
    background: -moz-linear-gradient(180deg, rgba(34, 36, 74, 1) 0%, rgba(87, 40, 163, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(34, 36, 74, 1) 0%, rgba(87, 40, 163, 1) 100%);
    background: linear-gradient(180deg, rgba(34, 36, 74, 1) 0%, rgba(87, 40, 163, 1) 100%);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: space-evenly;
    padding: 4rem 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
}

.hamburger-navigation.active {
    background: -moz-linear-gradient(180deg, rgba(34, 36, 74, 1) 0%, rgba(87, 40, 163, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(34, 36, 74, 1) 0%, rgba(87, 40, 163, 1) 100%);
    background: linear-gradient(180deg, rgba(34, 36, 74, 1) 0%, rgba(87, 40, 163, 1) 100%);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: space-evenly;
    padding: 4rem 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    transition: ease-in-out 0.2s;
    z-index: 800;
    opacity: 1;
    display: flex;
}

.hamburger-navigation .navItems {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hamburger-navigation .navItems li {
    padding: 2rem 0;
    width: 250px;
    text-align: center;
    font-weight: 600;
    font-family: 'Alata', sans-serif;
}

.hamburger-navigation .navItems li a {
    color: white;
    font-size: 2.5rem;
}

.hamburger-navigation .try {
    color: white;
}

.hamburger-navigation .register {
    background-color: #8b02e4;
}

/* :active {
    transition: 'easeIn 0.2s';
    z-index: 800;
    opacity: 1;
    display: 'flex'
} */

/* @media screen and (max-width:  ) {

} */

@media screen and (max-width: 768px) {
    .navigation {
        display: none;
    }
}