#footer {
    background: linear-gradient(180deg, rgb(25 29 97) 0%, rgb(87 40 163) 100%);
    padding: 10rem 0;
    color: white;
}

#footer h5 {
    font-size: 1.6rem;
}

#footer p {
    font-size: 1.4rem;
}

#footer a {
    color: white;
}

#footer a:hover {
    color: #f9a320;
}

.footer-logo {
    height: 40px;
    width: 90px;
    background-image: url(../../../img/Crickle-alt-logo-01.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    font-size: 1.4rem;
}